.split-pane-divider {
    -fx-background-color: #e8e8e8;; /* Set the color of the divider line */
    -fx-background-insets: 0, 0; /* Remove padding if any */
    -fx-padding: 0; /* Ensure no extra space around the divider */
    -fx-border-width: 0 5 0 5; /* Optional: Add a border on the sides to emphasize the line */
    -fx-border-color: #e8e8e8;; /* Optional: Set the border color */
}

.side-nav {
    -fx-background-color: #e8e8e8;
}

.collapse-button {
    -fx-background-radius: 50%;
}

.request-url {
    -fx-background-color: #ffffff;
}


/* Style for the Add Button */
.request-tab-pane-add-button {
    -fx-background-color: #1E88E5; /* Postman's blue */
    -fx-text-fill: white;
    -fx-background-radius: 50%; /* Rounded corners */
    -fx-font-size: 14px;
    /*-fx-alignment: center;*/
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 1); !* Shadow effect *!*/
    -fx-cursor: hand; /* Change cursor on hover */
}

/* Hover effect */
.request-tab-pane-add-button:hover {
    -fx-background-color: #1565C0; /* Darker blue on hover */
}

/* Focused effect */
.request-tab-pane-add-button:focused {
    -fx-background-color: #0D47A1; /* Darkest blue on focus */
}

/* End Style for Add Button*/


/*Style for CodeArea*/
.json-key {
    -fx-fill: #9CDCFE;
    -fx-font-weight: bold;
}

.json-string {
    -fx-fill: #CE9178;
}

.json-number {
    -fx-fill: #B5CEA8;
}

.json-boolean {
    -fx-fill: #569CD6;
}

.html-tag {
    -fx-fill: #569CD6;
}

.js-keyword {
    -fx-fill: #C586C0;
    -fx-font-weight: bold;
}

/* End Style for CodeArea*/
